<%= bootstrap_form_with(model: board) do |form| %>
  <%= form.text_field :name, required: false %>
  <%= form.text_field :email, required: false %>
  <%= form.number_field :width, required: false %>
  <%= form.number_field :height, required: false %>
  <%= form.number_field :mine_count, required: false %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
